# React / Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.npm/
*.local

# Python / Django
backend/venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
